script.
    const initPreviewMessage = () => {
        const button = document.getElementById('preview-message');
        button.addEventListener('click', () => {
            button.classList.add('is-loading');
            fetch(`/settings/previewMessage`)
                .then(response => {
                    button.classList.remove('is-loading');
                    response.json()
                        .then((data) => {
                            if (response.status === 200) {
                                const preview = document.getElementById('message-preview')
                                preview.value = data.message.replace(/<[^>]*>?/gmi, '');
                            } else {
                                alert(`Preview not available! Error: ${data.message}`);
                            }
                        });
                })
        })
    }
    initPreviewMessage();
